
.gallery{
    margin-top: 120px;
    column-count: 2;
    column-gap: 15px;
    margin-bottom: 8vh;
    position: relative;
    
}

.sakura6, .sakura5, .sakura7, 
.petale9, .petale10, .petale11, .petale12, .petale13, .petale14 {
    position: absolute;
    /* Empêche l'élément d'être affecté par le système de colonnes */
    break-inside: avoid; 
}

.gallery img{
    width: 100%;
    height: auto;
    border-radius: 1em;
    margin: 0 0 15px 0;
    
}

.gallery img:hover{
    transform: scale(0.99);
}


.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(8px);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;

    z-index: 10000;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    position: relative;
    display: flex;
    width: fit-content;
    height: 90vh;
    background: rgba(255, 255, 255, 0.1); /* Fond blanc très transparent */
    backdrop-filter: blur(15px);         /* Flou de l'arrière-plan */
    -webkit-backdrop-filter: blur(15px);    
    padding: 25px;
    box-shadow: 0 0 60px rgba(255,255,255,0.1);

    transform: scale(0.8);
    transition: transform 0.6s ease;
}

.modal.active .modal-content {
    transform: scale(1);
}

.modal-content img {
    width: 100%;
    height: auto;
}

.modal-container {
    display: flex;
    flex-direction: column;
}

.close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.deco {
    position: absolute !important; 
    width: 60px !important;       
    height: auto !important;
}


.sakura6 {
  position: absolute;
  left: 60%;
  top: 0;
}

.petale9 {
  position: absolute;
  left: 40%;
  top: 15%;
}

.petale10 {
  position: absolute;
  left: 65%;
  top: 30%;
}

.petale11 {
  position: absolute;
  left: 20%;
  top: 20%;
}

.sakura5 {
  position: absolute;
  left: 10%;
  bottom: 0;
}

.sakura7 {
  position: absolute;
  left: 15%;
  bottom: 40%;
}

.petale12 {
  position: absolute;
  left: 40%;
  bottom: 10%;
}

.petale13 {
  position: absolute;
  left: 60%;
  bottom: -5%;
}

.petale14 {
  position: absolute;
  left: 30%;
  bottom: -5%;
}